/* Reset nhẹ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

/* Màu dùng chung */
:root {
  --primary-red: #E84040;
}

/* Cuộn web */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 4px;
}

/* Giúp toàn bộ web tự scale width theo màn hình */
.page-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; /* căn giữa */
}

/* Ngăn scroll ngang */
body, html {
  overflow-x: hidden;
}
