/* Reset nhẹ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

/* Màu dùng chung */
:root {
  --primary-red: #E84040;
}

/* Cuộn web */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 4px;
}

/* Giúp toàn bộ web tự scale width theo màn hình */
.page-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; /* căn giữa */
}

/* Ngăn scroll ngang */
body, html {
  overflow-x: hidden;
}

/* Styles for RoadmapPage */
.roadmap-card {
  border: 2px solid white;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.45);
  margin-bottom: 30px;
}

.roadmap-card h2 {
  color: #fff;
}

.roadmap-card p {
  color: #fff;
}

.course-bubble {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.course-card {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.4);
}
